[submodule "src\\comican\\static\\open-iconic"]
	path = src\\comican\\static\\open-iconic
	url = https://github.com/iconic/open-iconic.git
[submodule "src\\comican\\static\\scripts\\lightbox2"]
	path = src\\comican\\static\\scripts\\lightbox2
	url = https://github.com/lokesh/lightbox2.git
