{% extends 'comican/base.html' %}
{% block 'content' %}
<div class="book_content">
    <div class="card bg-secondary">
        <div class="row no-gutters">
            <div class="col-md-3" style="max-width: 300px;">
                <img src="{{ book.image.url }}" width="300">
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <p class="card-text">
                        {% if book.authors %}
                            {% if book.authors.all %}
                                {% for author in book.authors.all %}
                                    {{ author.name }}
                                    {% if author.circles.all %}(
                                        {% for circle in author.circles.all %}
                                            {{ circle }},
                                        {% endfor %})
                                    {% endif %}
                                {% endfor %},
                            {% endif %}
                        {% else %}
                        {% endif %}
                    </p>
                    <p class="card-text">{{ book.detail | linebreaksbr }}</p>
                    <p class="card-text"><small>{{ book.updated_at }}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% comment %} Book Information END {% endcomment %}

    <div class="w-100 d-none d-md-block"></div>
    
    <div class="book_pages_grid">
        {% if book.pages.all %}
            {% for page in book.pages.all %}
            <div class="book_page_item shadow-sm rounded">
                <a href="{{ book.id }}/{{ page.page_number }}"><img src="{{ page.thumbnail.url }}" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 img-thumbnail" alt="{{ page }}"></a>
            </div>
            {% endfor %}
        {% else %}
            Pages not found.
        {% endif %}
    </div>
</div>
{% endblock 'content' %}