{% extends 'comican/base.html' %}
{% block 'content' %}
{% if latest_book_list %}
    <div class="grid">
            {% comment %} {% paginate memories %} {% endcomment %}
            {% for book in latest_book_list %}
            <div class="book_item shadow-sm p-0 rounded">
                <a href="books/{{ book.id }}"><img src="{{ book.thumbnail.url }}" alt="{{ book.name }}" class="img-thumbnail" width="224" height="348"></a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No Books are available.</p>
{% endif %}
</div>
{% endblock 'content' %}