{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/comican/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <input id="book_name" type="text" name="book_name" class="form-control">
    </div>
    {% comment %} <div class="form-btn">
            <button type="button" class="btn btn-outline-info btn-to-cancel-upload">キャンセル</button>
            <button type="submit" class="btn btn-info btn-to-upload-images">Upload</button>
    </div> {% endcomment %}
</form>

<script>
</script>